@charset "utf-8";
/* CSS Document */

body {
	background-color: #EEEEEE;
}
.page {
	color: #212121;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	text-align: center;
	max-width:960px;
	margin:auto;
	padding:10px;
}
.content
{
	
}
header {
	background-color: #32e0c4;
	padding: 10px;
	border: 1px solid black;
	font: "Lucida Sans Unicode", "Lucida Grande", sans-serif	
}
p{
	text-align:left;
}
h1 {
	color: #0d7377;
}
a:link {
	color: dodgerblue;
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color: lightgray: ;
	background-color: transparent;
	text-decoration: none;
}

a:hover {
	color: red;
	background-color: transparent;
	text-decoration: underline;
}

a:active {
	color: yellow;
	background-color: transparent;
	text-decoration: underline;
}
/*#animation
{
	background-image:url(../img/Animation.png);
	width: 300px;
	height: 500px;
}*/

#animation:hover{background-position:-900px,0px;}
.frame1 {background-position:0px,0px;}
.frame2 {background-position:-300px,0px;}
.frame3 {background-position:-600px,0px;}
